<h2>Baran Skistad</h2>
<p>Baran created Newawe, he is an Administrator, and his account is bjskistad. He likes to ski, snowboard, and wakeboard when not hunched over his laptop. He does a lot of HTML, front-end JavaScript, and user friendly interface on Newawe.</p>
<h2>Adrien Burgun</h2>
<p>Named adri326, he joined the project some time after it's creation. He loves to code and developping algorithms. He's even got his own social network, called <a href='http://adri326.890m.com/'>BlueGreyDev</a>.</p>
<h2>Jordan Barrington</h2>
<p>Known primarily as -Radical- on Scratch, Jordan often tinkers with computers in his spare time. The extensive integration system was designed mainly by Jordan</p>
<h2>Hampton</h2>
<p>Hampton is a boy who loves coding and designing webpages! In his spare time he likes playing chess and making more webpages!</p>
