<body></body>

<script src="http://codemirror.net/lib/codemirror.js"></script>
<link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
<script src="http://codemirror.net/mode/javascript/javascript.js"></script>
<script>
/*https://cdn.rawgit.com/masterex1000/code-mirror/1cbacfc24a8f3a6f86a30d408ac4ebf31aa0323e/lib/codemirror.js
d9e63555c1d66a270fc55f02816db68dee602d5d
1cbacfc24a8f3a6f86a30d408ac4ebf31aa0323e*/

var myCodeMirror = CodeMirror(document.body, {
  value: "function myScript(){return 100;}\n",
  lineNumbers: true,
  mode:  "javascript"
});
</script>