<div class="info text-center">
    <span>{{ loggedin }}</span>
    <span>Share Your Code. With the World.</span>
    <img src="http://newawe.mysunland.org/assets/images/Welcome.jpg" style="max-width:100%">
</div>